@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root
{
  --family:"Unica One", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-normal text-base text-body bg-whiten relative z-1;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .chat-height {
    @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
  }
  .inbox-height {
    @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
  }
}

/* third-party libraries CSS */

.tableCheckbox:checked ~ div span {
  @apply opacity-100;
}
.tableCheckbox:checked ~ div {
  @apply bg-primary border-primary;
}

.taskCheckbox:checked ~ .box span {
  @apply opacity-100;
}
.taskCheckbox:checked ~ p {
  @apply line-through;
}
.taskCheckbox:checked ~ .box {
  @apply bg-primary border-primary dark:border-primary;
}

.custom-input-date::-webkit-calendar-picker-indicator {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}
.custom-input-date-1::-webkit-calendar-picker-indicator {
  background-image: url("/images/icon/icon-calendar.svg");
}
.custom-input-date-2::-webkit-calendar-picker-indicator {
  background-image: url("/images/icon/icon-arrow-down.svg");
}

[x-cloak] {
  display: none !important;
}


h4 {
  color: #F3B32A;
}

.tradingview-widget-copyright,
.anychart-credits {
  display: none;
}

div[id*='tradingview_'] {
  width: 100%!important;
}

*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.box {
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.card {
  background: transparent;
   border-radius: 10px;
   border: 1px solid rgba(52, 22, 9, 0.2);
    position:relative;
  color:white;
  z-index:1;
    backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
.anychart-menuitem-content,
ul[role='menu']  {
  color: #0A2371;
}

html.theme-dark .tv-embed-widget-wrapper__body {
    background: #1e222d;
    border-color: #434651;
}

div[class*='-MuiDataGrid-root'],
div[class*='MuiDataGrid-footerContainer'],
div[class*='MuiTablePagination-root'],
div[class*='PrivateSwitchBase-input'] {
  background: #1e222d;
  border-color: #434651;
  color: white!important;
}

div[id^='highcharts-'] > svg > text.highcharts-credits {
  display: none;
}

span.highcharts-menu-item-btn {
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}

div[id^='highcharts-'] > svg > g.highcharts-axis-labels.highcharts-xaxis-labels.highcharts-navigator-xaxis > text > tspan {
  text-shadow: none !important;
  stroke: none;
  fill: white!important;
}

div[id^='highcharts-'] > svg > g.highcharts-axis-labels.highcharts-xaxis-labels.highcharts-navigator-xaxis > text {
  text-shadow: none !important;
  stroke: none;
  fill: white!important;
}

.stock {
  font-family: "Utica One", sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

li[id='#switcher'] {
  display: none;
}